@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap');
@import "responsive";
@import "normalize";
@import "banner";
@import "navigation";
@import "content";
@import "footer";
@import "blog";


/*Fonts Declaration*/
@font-face {
    font-family: "augusta-free";
    /*a name to be used later*/
    src: url("../../../static/font/august_free_bold.ttf") format('truetype');
    /*URL to font*/
    // font-weight: normal;
}


body {
    font-family: 'Poppins', sans-serif !important;
    margin: 0 auto;
}

h1,
h2 {
    font-size: 1.6em;
    color: #ffffffd9 !important;
}

h3,
h4 {
    font-size: 1.2em;
}

h5,
h6 {
    font-size: 1.0em;
}


p,
a,
qoute,
span,
blockquote {
    font-size: 1.2em;
    // color: #7b7b7bee !important;
}

a {
    color: #000 ;
}

p {
    line-height: 1.7;
    margin: 2.2em 0 !important;
    color: #c1c1c1;
}

label {
    color: #636262;
}

button {
    // background-color: #1d2e7e;
    border: none;
    padding: 2% 20px;
    margin-top: 6%;
  

    a {
        color: #fff ;
        text-decoration: none;
        cursor: pointer;
        font-size: 15px;  
        
    }
    &:hover{
       
        a {
            color: #78d280;
            
        }
    }
}

.btn-book-featured {

    background: none;
    border: 2px solid #ffffff;
    border-radius: 40px;
    padding: 2% 4em;
    margin-top: 5%;

    a {
        text-transform: uppercase;
      
        &:hover{
            color: #78d280;
        }
    }
    &:hover{
        color: #78d280;
		border: 2px solid #78d280;

	}
}

#___gatsby {
    background: #1F1F21;
}

/*Grid Elements*/

.grid-two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    margin: 0 5%;
    align-items: center;
}

.grid-template-four-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

.container-gt {
    max-width: 1400px;
    margin: 0 auto;
  
}

.container-gt1 {
    max-width: 1400px;
    margin: 0 auto;
    height: 100vh;
  
}
.margin20{
    margin: 0 20px;
}
